{% extends "base.html" %}

{% block content %}

{% for event in events %}

<div>
    <p class="date">
        <b>Date:</b> {{ event.date }}
    </p>
    <p>
        <b>Event:</b> {{ event.name }}
    </p>
    <p>
        <b>Number of Guests: </b>{{ event.guest_num}}
    </p>
    <p>
        <b>Location: </b>{{ event.location }}
    </p>
    <p>
        <b>Description:</b>{{ event.description }}
    </p>
    <p>
        {% if event.recurring %}
        <span><b>&#10059; This event is recurring</b></span>
        {% else %}
        {% endif %}
    </p>
    <hr>
</div>
{% endfor %}
<div class="form">
    <form action="/events" method="post">
       <div>
        <label for="date">Date:</label>

        <input id="date" type="date" name="date"
               value="2022-09-29"
               min="2022-09-29" max="2023-09-29">
      </div>  
      <div>
        <label for="name">Event Name:</label>
        <input id = "name" type="text" name = "name">
      </div>
      <div>
        <label for="guest_num">Number of Guests:</label>
        <input id = "guest_num" type="number" name = "guest_num">
      </div>
      <div>
        <label for="location">Location:</label>
        <input id = "location" type="text" name = "location">
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea name="description" id="description" cols="30" rows="5"></textarea>
      </div>
      <input type="submit">
    </form>
</div>
{% endblock %}